<a href="#">
    <li class="movie-discover-item">
        <div class="poster">
            <img src="{{ discover.image }}" alt="{{ discover.title }}"/>
        </div>
        <ul class="about-movie">
            <li>📅 &nbsp;{{ discover.year }}</li>
            <li>🎬 &nbsp;Movie</li>
            <li>⭐ &nbsp;{{ discover.vote }}</li>
        </ul>
        <p class="movie-name">{{ discover.name }}</p>
    </li>
</a>